<!DOCTYPE html>
{% load staticfiles%}
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="./mycss.css">
    <link rel="stylesheet" href="{% static 'security/mycss.css'%}">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>

    <div class="container h-100 d-flex justify-content-center ">
        <div class="row">
            <div class="col-lg-3 col-sm-6">

                <div class="card hovercard shadow-lg p-3 mb-5 bg-white rounded" style="padding: 0px">
                    <div class="cardheader">

                    </div>
                    <div class="avatar">
                        <img alt="" src="{% static 'security/clg.png'%}">
                    </div>

                    <div class="info mydiv">
                        <div class="title">
                            ROLL NO:
                            <td>
                                
                            </td>
                        </div>

                        <div style="font-size : 20px; text-align: left; padding: 30px ">
                            


                            <table class="table table-borderless">
                                <thead>

                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">NAME:</th>
                                        <td>L</td>

                                    </tr>
                                    <tr>
                                        <th scope="row">DEPARTMENT:</th>
                                        <td>CSE</td>

                                    </tr>
                                    <tr>
                                        <th scope="row">YEAR/SECTION:</th>
                                        <td colspan="2">1/C</td>

                                    </tr>
                                    <tr>
                                        <th scope="row">BLOCK:</th>
                                        <td colspan="2">A</td>

                                    </tr>
                                    <tr>
                                        <th scope="row">ROOM NO:</th>
                                        <td colspan="2">001</td>

                                    </tr>
                                    <tr>
                                        <th scope="row">STUDENT NO:</th>
                                        <td colspan="2">1234567890</td>

                                    </tr>
                                    <tr>
                                        <th scope="row">PARENTS NO:</th>
                                        <td colspan="2">0987654321</td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>

</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

</html>